:root{
    --dark-color:#2B2D42;
    --bright-color:#EDF2F4;
    --middle-color:#8D99AE;
    --bright-red:#EF233C;
    --dark-red:#D90429;
}
::placeholder{
    color: var(--bright-color);
}
/** LOGIN AND REGISTER PAGE **/
.bg1{
    background: url(/static/bg.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
}
.main-container{
    width: 350px;
    height: 370px;
    border: 1px white solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 10%;
    display:grid;
    grid-template-columns: 100%;
    align-content: center;
}
.wrapper{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: 100%;
}
.login-input{
    width: 95%;
    margin: 10px;
}
.login-btn{
    width:95%;
    margin:10px;
}


/** HOMEPAGE **/

#user_search{
    border:none;
}
.search-input{
    border:none;
    border-radius:10px;
    padding:5px;
    font-size: 20px;
    background: var(--middle-color);
    box-shadow: inset 0 0 0 1px var(--bright-color);
}


.hp{
    background-color: var(--dark-color);
}

.menu-container{
    width:100%;
    height: 60px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 200px 200px 600px 50px;
    background: var(--middle-color);
   }
.menu-item{
    text-align: center;
    height: 50px;
    padding: 10px;
    margin: 10px;
    margin-top: 0;
    font-size: 25px;
}
.abtns:hover{
    color: var(--bright-red)
}
.abtns{
    color: var(--dark-color);
    text-decoration: none;
    text-align: center;
}
.page-content{
    border: none;
    border-radius: 5px;
    margin: 10px;
    left: 20%;
    width: 60%;
    height: 600px;
    background-color: var(--dark-color);
    position: relative;
    overflow-y:scroll;
    word-wrap:break-word;
}

.new-post{
    width:50%;
    position:relative;
    left: 25%;
    background-color: var(--middle-color);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

}
.post-btn{
    background: var(--middle-color);
    border: 1px solid var(--dark-color);
    border-radius:10px;
    color: var(--bright-color);
    width:55px;
    padding:10px;
}
.post-btn:hover{
    background: var(--dark-color);
    color: var(--bright-color);
}
.new-input{
    border: 1px solid var(--dark-color);
    margin: 5px;
    width:90%;
    background-color: var(--middle-color);
    color: var(--dark-color);
    border-radius:10px;
    padding:10px;
    color: var(--bright-color);
}

.post-container{
    overflow-x: hidden;
    row-gap: 5px;
    width:97.5%;
    padding: 10px;
    margin: 10px;
    border-radius:10px;
    border: 1px solid var(--middle-color);
    background: var(--middle-color);
}
.post-img{
    border-radius:50%;
    border: 1px solid var(--dark-color);
}
.post-link{
    text-decoration: none;
    color:var(--bright-color);
}
.post-link:hover{
    color: var(--dark-red);
}
.post-content{
    padding:10px;
    color: var(--bright-color);
}
.post-options{
    border: 0.5px solid var(--bright-color);
    border-radius:10px;
    padding:5px;
    display:grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}
.delete-post{
   width:20px;
   margin-left:20px;
}

.like-post-btn{
    width:20px;
    margin:10px;
}
.like-count{
    text-decoration: none;
    color: var(--bright-color);
    margin-right: 15px;
}

.comment-post{
    padding:5px;
    background: var(--middle-color);
    color: var(--bright-color);
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 0 1px var(--bright-color);
    width: 200px;
    font-size:15px;
}


/** Comments **/
.c-post{
    position:relative;
    left:25%;
    width:50%;

}
.comments{
    background: var(--middle-color);
    border: 1px solid var(--dark-color);
    padding:10px;
    border-radius:10px;
    color: var(--bright-color);
    margin:5px;
}
.post-border{
    border: 1px solid var(--dark-color);
    border-radius: 10px;
    padding:10px;
    margin:10px;
}