:root{
    --dark-color:#623B5A;
    --bright-color:#EDFFAB;
    --middle-color:#BA9593;
    --bright-red:#89608E;
    --dark-red:#623B5A;
}
::placeholder{
    color: var(--bright-color);
}
/** LOGIN AND REGISTER PAGE **/
.bg1{
    background: rgb(165,171,203);
    background: linear-gradient(90deg, rgba(165,171,203,1) 0%, rgba(127,22,185,1) 51%, rgba(100,0,255,1) 100%);
}
.main-container{
    width: 350px;
    height: 370px;
    border: 1px white solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 10%;
    display:grid;
    grid-template-columns: 100%;
    align-content: center;
}
.wrapper{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: 100%;
}
.login-input{
    width: 95%;
    margin: 10px;
}
.login-btn{
    width:95%;
    margin:10px;
}


/** HOMEPAGE **/

#user_search{
    border:none;
}
.search-input{
    border:none;
    border-radius:10px;
    padding:5px;
    font-size: 20px;
    background-color: rgb(255,255,255 , 0.1);
    box-shadow: inset 0 0 0 1px var(--bright-color);
    color: var(--bright-color);

}


.hp{
    background-color: var(--dark-color);
}

.menu-container{
    width:100%;
    height: 60px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 10% 5% 75% 10%;
    background-color: rgb(255,255,255 , 0.1);

   }
.menu-item{
    text-align: center;
    height: 50px;
    padding: 10px;
    margin: 10px;
    margin-top: 0;
    font-size: 25px;
}
.abtns:hover{
    color: var(--bright-red)
}
.abtns{
    color: var(--dark-color);
    text-decoration: none;
    text-align: center;
}
.page-content{
    border: none;
    border-radius: 5px;
    margin: 10px;
    left: 20%;
    width: 60%;
    height: 550px;
    background-color: var(--dark-color);
    position: relative;
    overflow-y:scroll;
    word-wrap:break-word;
}
.page-content::-webkit-scrollbar{
    display: none;
}

.new-post{
    width:50%;
    position:relative;
    left: 25%;
    background-color: rgb(255,255,255 , 0.1);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;


}
.post-btn{

    background-color: rgb(255,255,255 , 0.1);
    border: 1px solid var(--dark-color);
    border-radius:10px;
    color: var(--bright-color);
    width:20%;
    padding:10px;
}
.post-btn:hover{
    background: var(--dark-color);
    color: var(--bright-color);
}
.new-input{
    overflow-wrap: break-word;
    border: 1px solid var(--dark-color);
    box-shadow: none;
    margin: 5px;
    width:100%;
    background-color: rgb(255,255,255 , 0.1);
    color: var(--bright-color);
    border-radius:10px;
    padding:10px;
    height: 50px;
}

.post-container{
    overflow-x: hidden;
    row-gap: 5px;
    width:97.5%;
    padding: 10px;
    margin: 10px;
    border-radius:10px;
    border: 1px solid var(--middle-color);
    background-color: rgb(255,255,255 , 0.1);

}
.post-img{
    border-radius:50%;
    border: 1px solid var(--dark-color);
}
.post-link{
    text-decoration: none;
    color:var(--bright-color);
}
.post-link:hover{
    color: var(--dark-red);
}
.post-owner{
    color: var(--bright-color);
}
.post-content{
    padding:10px;
    color: white;
}
.post-options{
    border: 0.5px solid var(--bright-color);
    border-radius:10px;
    padding:5px;
    display:flex;
    align-items: center;
    text-align: center;
}
.delete-post{
   width:20px;
   margin-left:20px;
}

.like-post-btn{
    width:20px;
    margin:10px;
}
.like-count{
    text-decoration: none;
    color: var(--bright-color);
    margin-right: 15px;
}

.comment-post{
    padding:5px;
    background-color: rgb(255,255,255 , 0.1);
    color: var(--bright-color);
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 0 1px var(--bright-color);
    width: 200px;
    font-size:15px;
}


/** Comments **/
.c-post{
    position:relative;
    left:25%;
    width:50%;

}
.comments{
    background-color: rgb(255,255,255 , 0.1);
    border: 1px solid var(--dark-color);
    padding:10px;
    border-radius:10px;
    color: var(--bright-color);
    margin:5px;
}
.post-border{
    border: 1px solid var(--dark-color);
    border-radius: 10px;
    padding:10px;
    margin:10px;
}