<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>
</head>
<body>

<div class="page-content">
        {% for post in all_post %}
        <div class="post-container">
            <img src="static/logo.png" class="post-img">
            @{{ post.owner_name }}
            <p class="post-content"> {{ post.post_content}}</p>
            <div class="post-options">
                <div style="align-items:center;">
                    <form action="{{ url_for('add_comment')}}" method="post">
            <input type="hidden"  name="post-id" value="{{post.id}}">
            <input type="text" placeholder="comment here" name="comment" class="comment-post" autocomplete="off">
            <input type="image" src="/static/plus-circle.svg" class="add-comment">
            </form>
                </div>
                <div>
            {%if post.id in l_like%}
            <input type="text" value="true" class="clicked">
            {% else %}
            <input type="text" value="false" class="clicked">
            {% endif %}
            <button class="like-post-btn"><img src="" class="image"></button>
            <a href="{{ url_for('view_comments', id = post.id)}}"> <img src="/static/chat-left-dots.svg" alt="view comments"></a>
            {% if post.owner_name == session.name %}
            <a href="{{ url_for('delete_post', id = post.id) }}"><img src="/static/trash-fill.svg" class="delete-post"></a>
            {% endif %}
                </div>

            </div>
        </div>

        {% endfor %}
    </div>

</body>
    <script src="static/test.js"></script>
</html>